body {
    background: lightslategray;
}

.bullet {
    /*background: black;*/
    /*width: 300px;*/
    /*margin: 20px auto;*/
    /*height: 300px;*/
    /*display: flex;*/
    /* flex-direction: row | column | row-reverse | column-reverse */
    flex-direction: column;
    /* justify-content: flex-start | flex-end | center | space-around | space-between */
    justify-content: space-around;
    /* align-items: flex-start | flex-end | center | stretch | baseline */
    align-items: flex-start;
    /* flex-wrap: nowrap | wrap | wrap-reverse */
    flex-wrap: nowrap;
    height: 90vh;
}

/*.AboutMe {*/
/*    grid-row: 1;*/
/*    grid-column: 1;*/
/*    background: #f3f3f3;*/
/*}*/
/*.Work {*/
/*    grid-row: 2;*/
/*    grid-column: 1;*/
/*    background: #f3f3f3;*/
/*}*/
/*.Contact {*/
/*    grid-row: 3;*/
/*    grid-column: 1;*/
/*    background: #f3f3f3;*/
/*}*/
/*.Canvas {*/
/*    grid-row: 1 / span 2;*/
/*    grid-column: 2 / span 3;*/
/*    background: blue;*/
/*}*/