/*body {*/
/*    display: grid;*/
/*    grid-template-rows: 50% 50%;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    font-family: "Lucida Console", Monaco, monospace;*/
/*    font-size: 12px;*/
/*    grid-gap: 4px;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    height: 100vh;*/
/*    width: 100vw;*/
/*    box-sizing: border-box;*/
/*}*/

body {
    background: lightslategray;
}

.container {
    background: black;
    width: 300px;
    margin: 20px auto;
    height: 300px;
    display: grid;
    grid-gap: 3px;
    grid-template-rows: 145px 145px;
    grid-template-columns: 1fr 1fr;
}

.self {
    grid-row: 1;
    grid-column: 1;
    background-image: url("Me.jpeg");
    max-width:100%;
    max-height:100%;
    color: #FFFFFF;
    text-align: center;
    line-height: 30px;
}
.flexWork {
    min-height: 100vh;
    margin: 0 auto;
    font: 12pt Comic Sans MS;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.haikuImage {
    background-image: url("Haiku.png");
    width: 200px;
    height: 125px;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    line-height: 30px;
}
.haikuInfo {
    width: 300px;
    height: 120px;
    background: #990012;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    font-size: 12px;
    /*text-align: center;*/
}


.aboutMe {
    grid-row: 1;
    grid-column: 2;
    background: #990012;
    color: #FFFFFF;
    padding: 5px;
    text-align: center;
    line-height: 30px;
}
.featuredWork {
    grid-row: 2;
    grid-column: 1;
    background: #990012;
    color: #FFFFFF;
    padding: 5px;
    text-align: center;
    line-height: 30px;
}
.reachOut {
    grid-row: 2;
    grid-column: 2;
    background: #990012;
    color: #FFFFFF;
    padding: 5px;
    text-align: center;
    line-height: 30px;
    /*border-radius: 10px;*/
    /*margin: 5px;*/
    /*text-align: center;*/
    /*line-height: 100px;*/
}
